<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>icon</key>
	<string>unknown</string>
	<key>iconH</key>
	<string>unknownH</string>
	<key>bash</key>
	<false/>
	<key>node</key>
	<true/>
	<key>urlProd</key>
	<string>control.preyproject.com</string>
	<key>apiProd</key>
	<string></string>
	<key>devProd</key>
	<string></string>
	<key>urlStaging</key>
	<string>control.preyapp.com</string>
	<key>apiStaging</key>
	<string></string>
	<key>devStaging</key>
	<string></string>
	<key>urlLocalhost</key>
	<string>localhost</string>
	<key>apiLocalhost</key>
	<string></string>
	<key>devLocalhost</key>
	<string></string>
</dict>
</plist>
